<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>California Wine Country Reservation Request Form</title>
    </h:head>
    <h:body>
        <h2>California's Wine Country Hotel Reservation Request</h2>
        Please enter all of the information requested!<p/>
        <h:form>
            <h:panelGrid columns="2">
                First Name: <h:inputText value="#{reserve.firstName}"/>
                Last Name:  <h:inputText value="#{reserve.lastName}"/>
                E-mail address: <h:inputText value="#{reserve.email}"/>
                Number in your Party: <h:selectOneMenu value="#{reserve.numberInParty}">
                    <f:selectItem itemValue="1" itemLabel="1"/>
                    <f:selectItem itemValue="2" itemLabel="2"/>
                    <f:selectItem itemValue="3" itemLabel="3"/>
                    <f:selectItem itemValue="4" itemLabel="4"/>
                    <f:selectItem itemValue="5" itemLabel="5"/>
                </h:selectOneMenu>
                Reservation Request Date: <h:inputText value="#{reserve.dateRequested}"/>
                Number of Nights: <h:selectOneMenu value="#{reserve.numberOfNights}">
                    <f:selectItem itemValue="1" itemLabel="1"/>
                    <f:selectItem itemValue="2" itemLabel="2"/>
                    <f:selectItem itemValue="3" itemLabel="3"/>
                    <f:selectItem itemValue="4" itemLabel="4"/>
                    <f:selectItem itemValue="5" itemLabel="5"/>
                    <f:selectItem itemValue="6" itemLabel="6"/>
                    <f:selectItem itemValue="7" itemLabel="7"/>
                </h:selectOneMenu>
                Region To Search for Hotels: <h:selectOneMenu value="#{reserve.region}">
                    <f:selectItem itemValue="Alexander Valley" itemLabel="Alexander Valley"/>
                    <f:selectItem itemValue="Bennett Valley" itemLabel="Bennett Valley"/>
                    <f:selectItem itemValue="Dry Creek Valley" itemLabel="Dry Creek Valley"/>
                    <f:selectItem itemValue="Napa Valley" itemLabel="Napa Valley"/>
                    <f:selectItem itemValue="Russian River" itemLabel="Russian River"/>
                    <f:selectItem itemValue="Sonoma Valley" itemLabel="Sonoma Valley"/>
                    <f:selectItem itemValue="All Regions" itemLabel="All"/>
                </h:selectOneMenu>
                <h:commandButton value="Submit" action="confirm"/>
            </h:panelGrid>
        </h:form>
    </h:body>
</html>

